.Home{
    &__nav{
        display: block;
        &-button{
            background-color: #25a65b;
            padding: 1rem;
            font-size: medium;
            color: white;
            margin: 1rem;
            border-radius: 0.25rem;     
            font-weight:bold       
        }
    }
}