.RegisterForm{
    &__form{
        background-color: #c1d8cb;
        margin: 1rem;
        padding: 0.5rem;
    }
    &__label{
        display: block;
    }
    &__error{
        color: red;
    }
    &__submit-button{
        margin:1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        background-color: #25a65b;
        color:white;
        font-weight:bold

        &:disabled{
            background-color: rgb(136, 9, 9);
            cursor: not-allowed;
        }
    }
}